[*.cs]
# IDE0090: Simplify new expression
dotnet_diagnostic.IDE0090.severity = error

# IDE0005: Using directive is unnecessary.
dotnet_diagnostic.IDE0005.severity = error

# CS1591: Missing XML comment for publicly visible type or member
dotnet_diagnostic.CS1591.severity = suggestion

# IDE0305: Use collection expression for fluent
dotnet_diagnostic.IDE0305.severity = none

# IDE0007: Use explicit type instead of 'var'
dotnet_diagnostic.IDE0007.severity = error

# IDE0008: Use explicit type instead of 'var'
dotnet_diagnostic.IDE0008.severity = error

# IDE0001: Name can be simplified
dotnet_diagnostic.IDE0001.severity = error

# IDE0002: Name can be simplified
dotnet_diagnostic.IDE0002.severity = error
