[*.cs]

# CS1591: Missing XML comment for publicly visible type or member
dotnet_diagnostic.CS1591.severity = suggestion

# IDE0305: Use collection expression for fluent
dotnet_diagnostic.IDE0305.severity = none

# IDE0090: Simplify new expression
dotnet_diagnostic.IDE0090.severity = warning
